.navbar, .alert-success {
  background-color: #dbd5d2;
  color: black;
  border: 1px solid  black;
}

.pagination > li > a {
  color: black;
  background-color: #dbd5d2;
  border: 1px solid  black;
}

.navbar-default .navbar-nav > .active > a {
  color: black;
  background-color: #dbd5d2;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: black;
  background-color: grey;
}

.navbar-default .navbar-nav > li >a {
  color: black;
}

.calendar-calendar .month-view .full td.single-day div.monthview {
  background-color: #18BC9C;
  margin-bottom: 10px;
}

.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview {
  background-color: #18BC9C;
  margin-bottom: 10px;
}

.calendar-calendar .month-view .full td.single-day div.monthview > a {
  color: black;
}

.field-content a  {
  color: black;
  font-size: 13px;
}