.navbar, .alert-success {
  background-color: #dbd5d2;
  color: black;
  border: 1px solid  black;
}

.pagination > li > a {
  color: black;
  background-color: #dbd5d2;
  border: 1px solid  black;
}

.navbar-default .navbar-nav > .active > a {
  color: black;
  background-color: #dbd5d2;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: black;
  background-color: grey;
}

.navbar-default .navbar-nav > li >a {
  color: black;
}